<form class="form-group">
  <div class=" d-flex justify-content-center">
    <input
      type="text"
      placeholder="Search.."
      name="Search" #courseSearchInput [(ngModel)]="searchText" />
    <button type="submit" class="d-none btn btn-success btn-lg" (click)="searchVal()">
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>
<ngx-spinner></ngx-spinner>
<div *ngIf="coursesData">
  <!-- <div
    class="row m-lg-4 card-body mb-2"
    *ngFor="
      let course of (courses$ | async) | paginate: config
    "
    sortCourseDirective
    [creationdate]="course.creationdate | date: 'dd-MMM-yyyy'"
  > -->
  <div
    class="row m-lg-4 card-body mb-2"
    *ngFor="
      let course of coursesData | paginate: config
    "
    sortCourseDirective
    [creationdate]="course.creationdate | date: 'dd-MMM-yyyy'"
  >
    <div class="col-md-10">
      <form class="form-inline row no-gutters">
        <h4 class="card-title col-md-6">
          {{ course.name | uppercase }}
          <i [ngClass]="{ 'fa fa-star': course.isTopRated }"> </i>
        </h4>
        <p class="col-md-6 text-right">
          <span>
            <i class="fa fa-clock-o"></i>
            {{ course.length | duration }}
          </span>
          <span>
            <i class="fa fa-calendar"></i>
            {{ course.date | date: "dd-MMM-yyyy" }}
          </span>
        </p>
      </form>
      <p>
        {{ course.description }}
      </p>
    </div>
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <div class="btn-group-vertical pull-right" role="group">
        <button
          type="button"
          class="btn btn-primary btn-sm mb-1"
          [routerLink]="'/courses/edit/' + course.id"
        >
          <i class="fa fa-edit" aria-hidden="true"></i> Edit
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="openCourseModal()"
        >
          <i class="fa fa-trash" aria-hidden="true"></i> Delete
        </button>
      </div>
    </div>
    <jw-modal id="course-modal-delete">
      <h4 class="mt-1 mb-4 text-center">Do you really want to delete this course!</h4>
      <div class="col text-center">
        <button (click)="deletedCourse(course.id)" class="btn btn-success mr-2">
          YES
        </button>
        <button (click)="closeCourseModal()" class="btn btn-danger m-auto">
          NO
        </button>
      </div>
    </jw-modal>
  </div>
  <div class="pagination-coursesData">
    <pagination-controls
      (pageChange)="pageChanged($event)"
      responsive="true"
    ></pagination-controls>
  </div>
  <div class="row d-none">
    <button class="btn btn-secondary col-md-12">
      Load More
    </button>
  </div>

  <div class="alert alert-info" role="alert" *ngIf="coursesData.length < 1">
    No available course. Please free to add new course.
  </div>
</div>


