<form class="form-group mt-2">
  <div class=" d-flex justify-content-center">
    <input
      type="text"
      placeholder="Search.."
      name="Search"
      [(ngModel)]="searchText"
    />
    <button
      type="submit"
      class="btn btn-success btn-lg"
      (click)="searchVal()"
    >
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>


<div *ngIf="courses != {}" >
  <div class="row m-lg-4 card-body mb-4" *ngFor='let course of courses | filterCourses : searchText' sortCourseDirective [creationdate]="course.creationdate | date:'dd-MMM-yyyy'">
    <div class="col-md-10"  >
        <form class="form-inline row no-gutters">
          <h4 class="card-title col-md-6">{{ course.name | uppercase }}
            <i [ngClass]="{'fa fa-star' : course.isTopRated}">
            </i>
          </h4>
          <p class="col-md-6 text-right">
            <span>
              <i class="fa fa-clock-o"></i>
              {{ course.length | duration }}
            </span>
            <span>
                <i class="fa fa-calendar"></i>
              {{ course.date | date:'dd-MMM-yyyy'}}
            </span>
          </p>
        </form>
        <p>
          {{ course.description }}
        </p>
    </div>
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <div class="btn-group-vertical pull-right" role="group">
        <button type="button" class="btn btn-primary btn-sm mb-1" [routerLink]="'/courses/edit/'+course.id">
          <i class="fa fa-edit" aria-hidden="true"></i> Edit
        </button>
        <button type="button" class="btn btn-danger btn-sm" [routerLink]="'/courses/delete/'+course.id">
          <i class="fa fa-trash" aria-hidden="true"></i> Delete
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-secondary col-md-12" (click)="loadMore()">Load More</button>
  </div>
</div>
<div class="alert alert-info" role="alert" *ngIf="courses.length < 1">
  No available course. Please free to add new course.
</div>

